@import "tailwindcss";
@import './base.css';

a{
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  border-radius: 5px;
}

h1 {
  font-size : 28px;
  font-weight: 600;
}

h3 {
  font-size : 16px;
  font-weight: 600;
}

input, textarea {
  padding : 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding : 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-brand-secondary);
  color: white;
  cursor: pointer;

  transition: 0.4s;

  font-weight: 600;
}

button:hover {
  background-color: var(--color-brand-primary);
}

.secondary-button {
  border: 0.5px solid grey;
  background-color : white;
  color : black;
}

.secondary-button:hover {
  background-color: grey;
}

.product-item {
  border: 0.5px solid #ebebeb;
}

@theme {
  --color-brand-primary: #0b3f83; 
  --color-brand-secondary: #1372ec;
}